<br/><br/>

<h4 class="container text-center">
  Blog site that allows for rich text editing of blog posts.
  <br/><br/>
  Built with HTML, CSS, PostgreSQL, Ruby on Rails
</h4>

<br/>

<h3 class="container">
  <%= link_to 'Click to go to site', 'https://blog-andy-strube.herokuapp.com/' %>
</h3>

<br/>

<h3 class="container">
  <%= link_to "Click to see github repo", "https://github.com/Learningstuff98/andy-strube-blog" %>
</h3>

<br/>

<h3 class="container">
  <%= link_to 'Back To Home', root_path %>
</h3>

<br/>

<%= image_tag 'blogappgif.gif', class: 'container' %>
