<br/><br/>

<div class="container">
  <div class="box col-9">

    <h4 class="text-center">
      Chess app that lets users play against each other in real time.
      <br/><br/>
      Built with Ruby on Rails, React, Rspec, Websockets, PostgreSQL, CSS, HTML
    </h4>

    <br/>

    <h3 class="container">
      <%= link_to 'Click to go to site', 'https://chess-andy-strube.herokuapp.com/' %>
    </h3>

    <br/>

    <h3 class="container">
      <%= link_to "Click to see github repo", "https://github.com/Learningstuff98/chess" %>
    </h3>

    <br/>

    <h3 class="container">
      <%= link_to 'Back To Home', root_path %>
    </h3>

  </div>
</div>

<br/>

<%= image_tag 'chessgif.gif', class: 'container' %>

<br/><br/>
