<body>
  <div class="text-center make-it-green">
    <%= image_tag 'me.JPG', class: 'portfolio-picture' %>
    <br/>
    <h2>Andy Strube</h2>
    <hr class="line">
    <a class="fa fa-github-square fa-3x make-it-green" href="https://github.com/Learningstuff98"></a>
    <span class="linkedin">
      <a class="fa fa-linkedin-square fa-3x make-it-green" href="https://www.linkedin.com/in/andy-strube-6231ba152/"></a>
    </span>
    <span class="resume">
      <a class="fa fa-file-text fa-3x make-it-green" href="https://docs.google.com/document/d/1qm4nBdIZfsx8zh4IwYvkVuQYclpOXUCVxnC9vV3_eBM/edit"></a>
    </span>
    
  </div>
</body>




