<body>
  <div class="text-center make-it-green">
    <%= image_tag 'me.JPG', class: 'portfolio-picture img-fluid' %>
    <br/>
    <h2>Andy Strube</h2>
    <hr class="line">
    <a class="fa fa-github-square fa-3x make-it-green" href="https://github.com/Learningstuff98"></a>
    <span class="linkedin">
      <a class="fa fa-linkedin-square fa-3x make-it-green" href="https://www.linkedin.com/in/andy-strube-6231ba152/"></a>
    </span>
    <span class="resume">
      <a class="fa fa-file-text fa-3x make-it-green" href="https://docs.google.com/document/d/1qm4nBdIZfsx8zh4IwYvkVuQYclpOXUCVxnC9vV3_eBM/edit"></a>
    </span>

    <br/><br/>

    <div class="container">
      <div class="box col-10">
        <div class="sub-box">
          <span class="flixter-title">
            Flixter
          </span>
          <%= link_to 'Go To Site', 'https://flixter-andy-strube.herokuapp.com/', class: 'make-it-green'%>
          <a class="fa fa-github-square fa-2x make-it-green" href="https://github.com/Learningstuff98/flixter"></a>
        </div>
        <%= image_tag 'flixter.png', class: 'flixter-picture img-fluid' %>
        <p>
          Users can upload video courses that are divided up into sections and individual lessons. Users who uploaded 
          a course can rearrange the order of course sections and lessons.
        </p>
        <p>
          Technical skills: CSS, HTML, jQuery, PostgreSQL, Ruby on Rails.
        </p>
      </div>
    </div>

  </div>
</body>
