<body>
  <div class="text-center make-it-green">
    <%= image_tag 'me.JPG', class: 'portfolio-picture' %>
    <br/>
    <h2>Andy Strube</h2>
    <%= link_to 'Resume', 'https://docs.google.com/document/d/1qm4nBdIZfsx8zh4IwYvkVuQYclpOXUCVxnC9vV3_eBM/edit', class: 'make-it-green' %>
    <br/>
    <a class="fa fa-github-square fa-3x make-it-green" href="https://github.com/Learningstuff98"></a>
    <a class="fa fa-linkedin-square fa-3x make-it-green" href="https://www.linkedin.com/in/andy-strube-6231ba152/"></a>
  </div>
</body>




