<br/><br/>

<h4 class="container text-center">
  Users can start projects, make development stages along with issues and move issues across different stages.
  Other users can see the updates happening in real time.
  <br/><br/>
  Built with CSS, HTML, Ruby on Rails, React, Rspec, Websockets, PostgreSQL
</h4>

<br/>

<h3 class="container">
  <%= link_to 'Click to go to site', 'https://project-tracker-andy-strube.herokuapp.com/' %>
</h3>

<br/>

<h3 class="container">
  <%= link_to "Click to see github repo", "https://github.com/Learningstuff98/project-tracker" %>
</h3>

<br/>

<h3 class="container">
  <%= link_to 'Back To Home', root_path %>
</h3>

<br/>

<%= image_tag 'project-tracker.gif', class: 'container' %>
