<br/><br/>

<h4 class="container text-center">
  Users can start channels and upload videos to their channels. Users can make comments on videos. Users can subscribe to channels.
  <br/><br/>
  Built with HTML, CSS, PostgreSQL, Ruby on Rails, React, AWS, Rspec
</h4>

<br/>

<h3 class="container">
  <%= link_to 'Click to go to site', 'https://video-app-andy-strube.herokuapp.com/' %>
</h3>

<br/>

<h3 class="container">
  <%= link_to "Click to see github repo", "https://github.com/Learningstuff98/video_app" %>
</h3>

<br/>

<h3 class="container">
  <%= link_to 'Back To Home', root_path %>
</h3>

<br/>

<%= image_tag 'videoappgif.gif', class: 'container' %>
